{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": "eslint:recommended",
  "globals": {
    "example": false,
    "loader":false,
    "POKEMON": false,
    "sort" : false,
    "computeStats": false,
    "order" : false,
    "filterData" : false,
    "weak" : false,
    "filterEgg" : false,
    "dataPokemon": false
  }
}
