{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": "eslint:recommended",
  "globals": {
    "POKEMON": false,
    "order": false,
    "filterData": false,
    "weak": false,
    "filterEgg": false,
    "computeStats": false,
    "sortData": false,
    "filterWeak": false
  }
}
